<% if authorized_admin? current_user %>
  <li>
    <%= image_tag team.logo.url, class: "team-logo-index" if team.logo? %>
    <%= team.name %>
    <%= link_to t(".delete"), team, method: "delete", class: "btn btn-danger pull-right",
      data: {confirm: t(".affirm_msg")} %>
    <%= link_to t(".edit"), edit_team_path(team), class: "btn btn-success pull-right" %>
    <%= link_to t(".manage_players"), manage_team_players_path(team), class: "btn btn-warning pull-right" %>
  </li>
<% else %>
  <div class="row">
    <div class="col-md-7">
      <%= image_tag team.picture.url, class: "team-image-index" if team.picture? %>
    </div>
    <div class="col-md-5">
      <h3><%= link_to team.name, team %></h3>
      <h4><%= team.coach %></h4>
      <p><%= team.description %></p>
      <%= link_to t(".view_details"), team_path(team), class: "btn btn-primary" %>
    </div>
  </div>
  <hr>
<% end %>
