<div class="row">
  <div class="col-md-7">
    <%= image_tag team.picture.url, class: "team-image-index" if team.picture? %>
  </div>
  <div class="col-md-5">
    <h3><%= link_to team.name, team %></h3>
    <h4><%= team.coach%></h4>
    <p><%= team.description %></p>
    <%= link_to team_path team do %>
      <button type="button" class= "btn btn-primary"><%= t ".view_details" %></button>
    <% end %>
  </div>
</div>
<hr>
