<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <%= render partial: "slider",
      collection: @top5_news[Settings.zero..Settings.homepage_slider_range],
      as: :slide %>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <%= t ".newest_news" %>
      </h1>
    </div>
  </div>
  <%= render partial: "article_box", collection: @top5_news, as: :article %>
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header"><%= t ".player_of_the_week" %></h2>
    </div>
    <%= render partial: "top_player", collection: @top3_players, as: :player %>
  </div>
</div>
