<div class="media" id="comment_<%= comment.id %>">
  <a class="pull-left" href="#">
    <%= gravatar_for comment.user, size: Settings.gravatar_preferred_size %>
  </a>
  <div class="media-body">
    <h4 class="media-heading"><%= link_to comment.user_name, comment.user %>
      <small>
        <%= comment.created_at %>
        <% if current_user?(comment.user) %>
          <%= link_to "delete", comment, method: :delete,
            data: {confirm: t("comment_del_confirm")}, remote: true %>
        <% end %>
      </small>
    </h4>
    <%= comment.content %>
  </div>
</div>
