<% provide :title, t(".title") %>
<%= stylesheet_link_tag "body-style" %>

<div class="signup-form">
  <div class="row">
    <%= form_for @user do |f| %>
      <%= render "shared/error_messages" %>
      <h2><%= t "register" %></h2>
      <p class="hint-text"><%= t ".content1" %></p>

      <div class="form-group">
        <%= f.text_field :name, class: "form-control",
          placeholder: t(".name_holder") %>
      </div>
      <div class="form-group">
        <%= f.email_field :email, class: "form-control",
          placeholder: t(".email_holder") %>
      </div>
      <div class="form-group">
        <%= f.text_field :address, class: "form-control",
          placeholder: t(".address_holder") %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, class: "form-control",
          placeholder: t(".pass_holder") %>
      </div>
      <div class="form-group">
        <%= f.password_field :password_confirmation, class: "form-control",
          placeholder: t(".passconfirm_holder") %>
      </div>

      <%= f.submit t(".confirm1"), class: "btn btn-success btn-lg btn-block" %>
      <div class="text-center"><%= t(".content2")%> <%= link_to t(".signin"),
        login_path, class: "text-success" %></div>
    <% end %>
  </div>
</div>
