<% provide :title, t(".title") %>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<%= stylesheet_link_tag "body-style" %>
<div class="signup-form">
  <div class="row">
    <%= form_for @user do |f| %>
      <%= render "shared/error_messages" %>
      <h2><%= t "register" %></h2>
      <p class="hint-text"><%= t ".content1" %></p>

      <div class="form-group">
        <%= f.text_field :name, class: "form-control",
          placeholder: t(".holder1") %>
      </div>
      <div class="form-group">
        <%= f.email_field :email, class: "form-control",
          placeholder: t(".holder2") %>
      </div>
      <div class="form-group">
        <%= f.text_field :address, class: "form-control",
          placeholder: t(".holder3") %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, class: "form-control",
          placeholder: t(".holder4") %>
      </div>
      <div class="form-group">
        <%= f.password_field :password_confirmation, class: "form-control",
          placeholder: t(".holder5") %>
      </div>

      <%= f.submit t(".confirm1"), class: "btn btn-success btn-lg btn-block" %>
      <div class="text-center"><%= t(".content2")%> <%= link_to t(".signin"),
        login_path, class: "text-success" %></div>
    <% end %>
  </div>
</div>
