<div class="col-sm-1 col-md-3">
  <div class="panel-group" id="accordion">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <span class="glyphicon glyphicon-folder-close">
          </span><%= t ".article" %></a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <table class="table">
            <tr>
              <td>
                <span class="glyphicon glyphicon-edit text-primary"></span>
                <%= link_to t(".articles"), news_index_path %>
              </td>
            </tr>
            <tr>
              <td>
                <span class="glyphicon glyphicon-pencil text-success"></span>
                <%= link_to t(".create_arc"), new_news_path %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            <span class="glyphicon glyphicon-th">
          </span><%= t ".team" %></a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table">
            <tr>
              <td>
                <span class="glyphicon glyphicon-pencil text-success"></span>
                <%= link_to t(".teams"), admin_teams_path %>
              </td>
            </tr>
            <tr>
              <td>
                <span class="glyphicon glyphicon-pencil text-success"></span>
                <%= link_to t(".create_team"), new_team_path %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            <span class="glyphicon glyphicon-user">
          </span><%= t ".player" %></a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table">
            <tr>
              <td>
                <span class="glyphicon glyphicon-pencil text-success"></span>
                <%= link_to t(".players"), "#" %>
              </td>
            </tr>
            <tr>
              <td>
                <span class="glyphicon glyphicon-pencil text-success"></span>
                <%= link_to t(".create_player"), "#" %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
