<h4><%= t ".leave_a_comment" %></h4>
<%= form_for @article.comments.build, class: "form-group", remote: true do |f| %>
  <% if user_signed_in? %>
    <%= hidden_field_tag :user_id, current_user.id %>
  <% end %>
  <%= hidden_field_tag :article_id, @article.id %>
  <%= f.text_area :content, class: "form-control", rows: Settings.comment_form_rows,
    placeholder: t(".form_placeholder") %>
  <%= f.submit t(".btn_post"), class: "btn btn-primary" %>
<% end %>
