<li id="<%= news.id %>">
  <span class="user"><%= link_to news.author_name, news.user %></span>
  <span class="content"><%= link_to news.header, news_path(news) %></span>
  <span class="content"><%= news.content %></span>
  <span class="timestamp">
    <%= time_ago_in_words news.created_at %>
  </span>
</li>
