<div class="sidenav">
  <%= link_to t(".create_news"), new_news_path %>
  <%= link_to t(".news_list"), news_index_path %>
  <%= link_to t(".teams"), "#" %>
  <%= link_to t(".season"), "#" %>
  <%= link_to t(".users"), "#" %>
</div>
