<%= render "sidebar" %>

<div class="main">
  <div class="container">
    <%= form_for @news do |f| %>
      <%= f.label :header, t(".txt_header") %>
      <%= f.text_area :header, placeholder: t(".news_header_placeholder") %>
      <div class="field">
        <%= f.label :content, t(".txt_content") %>
        <%= f.text_area :content, placeholder: t(".news_content_placeholder") %>
      </div>
      <%= f.submit t(".btn_submit"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
