<%= form_for @match do |f| %>
  <h2><%= t ".match" %></h2>
  <p class="hint-text"><%= t ".content1" %></p>

  <div class="form-group">
    <%= f.label t(".select_team1") %>
    <%= f.select :team1_id, options_for_select(@team_list) %>
  </div>
  <div class="form-group">
    <%= f.label t(".select_team2") %>
    <%= f.select :team2_id, options_for_select(@team_list) %>
  </div>

  <div class="form-group">
    <%= f.number_field :score1, class: "form-control", min: Settings.min_score,
      placeholder: t(".score1") %>
  </div>

  <div class="form-group">
    <%= f.number_field :score2, class: "form-control", min: Settings.min_score,
      placeholder: t(".score2") %>
  </div>

  <div class="form-group">
    <%= f.date_field :day, class: "form-control", min: Settings.min_matchday,
      placeholder: t(".day_holder") %>
  </div>

  <div class="form-group">
    <%= f.text_field :start_time, class: "form-control",
      placeholder: t(".time_holder") %>
  </div>

  <div class="form-group">
    <%= f.text_field :stadium, class: "form-control",
      placeholder: t(".stadium_holder") %>
  </div>

  <%= f.hidden_field :league_id, value: params[:id] %>
  <%= f.submit yield(:button_text), class: "btn btn-success btn-lg btn-block" %>
<% end %>
