<p><%= t ".hello" %><%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t ".content1" %><%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t ".content2" %><%= @resource.email %>.</p>
<% end %>
