<% provide :title, t(".title") %>

<%= stylesheet_link_tag "body-style" %>
<div class="signup-form">
  <div class="row">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <h2><%= t ".update" %></h2>
      <p class="hint-text"><%= t ".content1" %></p>

      <div class="form-group">
        <%= f.text_field :name, class: "form-control",
          placeholder: t(".name_holder") %>
      </div>
      <div class="form-group">
        <%= f.email_field :email, class: "form-control",
          placeholder: t(".email_holder") %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t ".waiting_information" %><%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.text_field :address, class: "form-control",
          placeholder: t(".address_holder") %>
      </div>

      <div class="form-group">
        <%= f.password_field :current_password, class: "form-control", placeholder: t(".current_password") %>
        <i><%= t ".current_password_notice" %></i>
      </div>

      <div class="form-group">
        <%= f.password_field :password, class: "form-control",
          placeholder: t(".pass_holder") %>
      </div>
      <div class="form-group">
        <%= f.password_field :password_confirmation, class: "form-control",
          placeholder: t(".passconfirm_holder") %>
      </div>

      <%= f.submit t(".save"), class: "btn btn-primary" %>
      <div class="profile_avatar">
        <%= gravatar_for @user %>
      </div>
      <%= link_to t(".link_change_gravatar"), "http://gravatar.com/emails",
        target: "_blank", class: "hint-text" %>
    <% end %>

    <h3><%= t ".unhappy" %></h3>

    <p>
      <%= button_to t(".cancel_account"), registration_path(resource_name), data: { confirm: t(".acc_cancel_confirm") }, method: :delete %></p>
  </div>
</div>


<%= link_to "Back", :back %>
